<%- include('components/header') %>

<section class="hero is-light is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        404!
      </h1>
      <h2 class="subtitle">
        The page you are looking for does not exist.
      </h2>
    </div>
  </div>
</section>
<%- include('components/footer') %>