<%- include('components/header') %>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Express Local Auth Template
      </h1>
      <h2 class="subtitle">
        <a href="https://github.com/godcrampy">@godcrampy</a> - 
        <a href="https://github.com/godcrampy/Express-Local-Auth-Template">repo</a>
      </h2>
    </div>
  </div>
</section>
<%- include('components/footer') %>